
  <app-page-header
    [titulo]="'Consulta'"
    [icono]="'fas fa-notes-medical'"
    [breadcrumbs]="breads"
  >
  </app-page-header>
  
  <!-- Contenedor de página -->
  <section class="content">
    <div class="container-fluid">
      <ngx-loading-bar color="#007bff" height="2" animationTime="2000" 
                       runInterval="100" progress="0">
      </ngx-loading-bar>
  
      <div class="col-md-12">

        <p *ngIf="progressData < 100">Cargando ...</p>
        <p *ngIf="progressData < 100">
          <ngb-progressbar [showValue]="true" type="info" [value]="progressData" [max]="100"></ngb-progressbar>
        </p>

        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">Datos del paciente</h3>
        
          </div>
          <!-- /.card-header -->

            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Nombre de paciente: </label>
                    <div class="input-group">
                      <input
                      type="text"
                      class="form-control"
                      name="nombre"
                      value="{{ nomPaciente }}"
                      disabled
                  
                      />
                    </div>
                  </div>
                </div><!--Fin de col-md-4-->
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="genEdad">Edad: </label>
                    <div class="input-group">
                      <input
                      type="text"
                      class="form-control"
                      name="edad"
                      value="{{ mostrarEdad }}"
                      disabled
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="genEdad">Género: </label>
                    <div class="input-group">
                      <input
                      type="text"
                      class="form-control"
                      name="genero"
                      value="{{ genero }}"
                      disabled
                  
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="numeroExp">N° de expediente: </label>
                    <div class="input-group">
                      <input
                      type="text"
                      class="form-control"
                      name="numeroExp"
                      value="{{numeroExpediente}}"
                      disabled
                  
                      />
                    </div>
                  </div>
                </div>
              </div><!--Fin del primer row-->
              
            </div>
            <!-- /.card-body -->
        </div>
        <!-- Fin del card -->
        
        <!-- Inicio de card de tabs -->

        <div class="card card-info card-tabs">
          <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-one-historial-tab" data-toggle="pill" href="#custom-tabs-one-historial" role="tab" aria-controls="custom-tabs-one-historial" aria-selected="false">
                  Historial clínico
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                  Consulta médica <i *ngIf="adjuntado" class="fas fa-check"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">
                  Receta médica <i *ngIf="recetaAdjuntado" class="fas fa-check"></i>
                </a>
              </li>

              <li class="ml-auto">
                <!-- Aqui van los card tools -->
                <div class="card-tools">
                  <ng-template #popContent>
                    <p *ngIf="ayuda == false">
                      <b>Click! para activar </b>la información del formulario
                    </p>
                    <p *ngIf="ayuda == true">
                      <b>Click! para desactivar </b>la información del formulario
                    </p>
                  </ng-template>
                  <ng-template #popTitle>
                    <b>Guía de uso</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
                  <button
                      type="button"
                      class="btn btn-tool"
                      placement="left"
                      popoverClass="text-dark"
                      [ngbPopover]="popContent"
                      [popoverTitle]="popTitle"
                      triggers="mouseenter:mouseleave"
                      [ngClass]="{ 'text-light': ayuda }"
                      (click)="activarPopovers()">
                         <i class="fas fa-info-circle fa-2x"></i>
                    </button>
                </div>
              </li>
              
            </ul>
            
          </div>
          
          <div class="card-body">
            <div class="tab-content" id="custom-tabs-one-tabContent">
              
              <div class="tab-pane fade" id="custom-tabs-one-historial" role="tabpanel" aria-labelledby="custom-tabs-one-historial-tab">
                 <app-historial [events]="eventsSubject.asObservable()"></app-historial>
              </div>
              <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                  <app-datos-consulta [ayuda]="ayuda" 
                                      [events]="eventsSubject.asObservable()"
                                      (datosConsulta)="addDatosConsulta($event)">
                  </app-datos-consulta>
              </div>
              <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                  <app-receta [ayuda]="ayuda"
                              (recetaMedica)="addRecetaMedica($event)">
                  </app-receta>             
              </div>
              
              
            </div><!--Tabs content-->
          </div><!-- /.fin del card  body-->
          <div class="card-footer">
            <input
              type="submit"
              value="Terminar consulta"
              class="btn btn-info"
              [disabled]="!adjuntado"
              (click)="confirmarSwal.fire()"
            />
           
          </div><!--Fin del card-footer-->
        </div><!-- Fin de card de tabs -->
       
      </div>
      <!-- Fin del div de las doce columnas -->
    </div>
    <!-- /.container-fluid -->
  </section>


   <!-- Sweet alerts -->
        <!-- Sweet Confirm -->
        <swal
          #redireccionSwal
          title="Consulta registrada!"
          text="¿Se realizarán estudios clínicos?"
          icon="success"
          showCancelButton="true"
          confirmButtonText="Si!"
          cancelButtonText="Cancelar"
          denyButtonText="No!"
          confirmButtonColor="#3085d6"
          cancelButtonColor="#bbbbbb"
          [focusCancel]="true"
          (confirm)="redireccionar()"
        >
        </swal>
  
        <!-- Sweet error -->
  
        <swal
          #errorSwal
          title="Error!"
          text="No se pudo realizar el registro"
          icon="error"
          confirmButtonText="Ok"
          confirmButtonColor="#3085d6"
          [focusConfirm]="true"
        >
        </swal>
        <swal
          #msgCompletarConsulta
          title="No se ha completado el formulario de consulta!"
          text="Primero debe proporcionar los datos necesarios de consulta"
          icon="warning"
          confirmButtonText= "Ok"
          confirmButtonColor= "#3085d6"
          [focusConfirm]="true">
        </swal>
        <!-- Sweet Confirm -->
        <swal
          #confirmarSwal
          title="¿Terminar la consulta?"
          text="¿Desea proceder con el registro de esta consulta?"
          icon="question"
          [showCancelButton]="true"
          confirmButtonText= "Si!"
          cancelButtonText= "No!"
          confirmButtonColor= "#3085d6"
          cancelButtonColor= "#bbbbbb"
          [focusCancel]="true"
          (confirm)="confirmar()"
          >
        </swal>
  
        <!-- Sweet alerts -->
