<div class="col-md-12">

    <div class="row">
        <div class="col-md-6">
          <h5>Catálogo de estudios de laboratorio</h5>
        </div>

        <div class="class-md-6 float-right">
          <button class="btn btn-primary">
            <i class="fas fa-check"></i> Adjuntar
          </button>

        </div>

       
    </div><!--Fin del primer row-->
    <br>
    <div class="row">

        <div class="col-md-3" *ngFor="let estudio of estudiosClinicos">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">{{ estudio.nombre }}</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body float-left">

                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="HemaTodo">
                    <label for="HemaTodo">
                     Todo
                    </label>
                </div>

                <ul>
                    <li class="pb-1" *ngFor="let est of estudio.estudios">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema1">
                            <label for="Hema1">
                             {{est}}
                            </label>
                          </div>
                    </li>
                    
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">ELECTROLITOS</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">BACTEREOLOGÍA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">ENDOCRINOLOGÍA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div><!--Fin del segundo row-->

    


</div><!--  Div principal de 12 columnas -->
