<div class="col-md-12">

    <div class="row">
        <div class="col-md-6">
          <h5>Catálogo de estudios de laboratorio</h5>
        </div>
    </div><!--Fin del primer row-->
    <br>
    <div class="row">
      <div class="col-md-12">

        <div class="class-md-3 float-left">
          <button type="submit" class="btn btn-primary" (click)="OnSubmit()">
          <i class="fas fa-check"></i> Adjuntar
          </button>
        </div>
        <div class="class-md-3 float-left pl-1">
          <button class="btn btn-secondary">
          <i class="fas fa-print"></i> Imprimir
          </button>
        </div>

        <pagination-controls  class="float-right"
                              (pageChange)="pageChanged($event)"
                              previousLabel="Anterior"
                              nextLabel="Siguiente"
                              responsive="true">
        </pagination-controls>

      </div>
    </div><!--Fin del segundo row-->
    <div class="row">

      <!-- Cards de estudios clinicos -->
      <div class="col-md-3" *ngFor="let estudio of estudiosClinicos | paginate: { itemsPerPage: 4, currentPage: p } ; let j = index">
          <div class="card card-outline card-primary">
            <div class="card-header">
              <h3 class="card-title">{{ estudio.nombre }}</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body float-left">

                  <div class="icheck-primary d-inline">
                      <input type="checkbox" id="{{estudio.nombre | substrEstudio:estudio.id: j }}"
                             [checked]="estudio.todos" (change)="todos($event, estudio.id)">
                      <label for="{{estudio.nombre | substrEstudio:estudio.id: j}}">
                       Todo
                      </label>
                  </div>
    
                  <ul>
                      <li class="pb-1" *ngFor="let ex of estudio.examenes; let i = index">
                          <div class="icheck-primary d-inline">
                              <input type="checkbox" id="{{ex.nombre | substrEstudio:estudio.id:i}}"
                                     [checked]="ex.seleccionado" (change)="examenSingular($event, estudio.id, i)">
                              <label for="{{ex.nombre | substrEstudio:estudio.id:i}}">
                               {{ex.nombre}}
                              </label>
                            </div>
                      </li>
                      
                  </ul>
                  
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
      <!-- Cards de estudios clinicos -->
      
    </div><!--Fin del segundo row-->

</div><!--  Div principal de 12 columnas -->
