<div class="col-md-12">

    <div class="row">
        <h5>Selección de estudios de laboratorio</h5>
    </div><!--Fin del primer row-->
    <br>
    <div class="row">

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">HEMATOLOGÍA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body float-left">

                <div class="icheck-primary d-inline">
                    <input type="checkbox" id="HemaTodo">
                    <label for="HemaTodo">
                     Todo
                    </label>
                </div>

                <ul>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema1">
                            <label for="Hema1">
                             Hemograma
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema2">
                            <label for="Hema2">
                             Ht - Hb
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema3">
                            <label for="Hema3">
                             Leucograma
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema4">
                            <label for="Hema4">
                             Plaquetas
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema5">
                            <label for="Hema5">
                             Hemograma - Plaquetas
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema6">
                            <label for="Hema6">
                             Eritrosedimentación
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema7">
                            <label for="Hema7">
                             Frotis de sangre periférica
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema8">
                            <label for="Hema8">
                             Reticulositos
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema9">
                            <label for="Hema9">
                             Células Falsiformes
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema10">
                            <label for="Hema10">
                             Células LE
                            </label>
                          </div>
                    </li>
                    <li class="pb-1">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" id="Hema10">
                            <label for="Hema10">
                                Concentrado de Strout (T. Cruzi)
                            </label>
                          </div>
                    </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">ELECTROLITOS</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">BACTEREOLOGÍA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">ENDOCRINOLOGÍA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div><!--Fin del segundo row-->

    <div class="row">

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">QUÍMICA CLÍNICA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">PERFIL RUTINARIO</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">INMUNOLOGÍA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">UROANALISIS</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div><!--Fin del tercer row-->

    <div class="row">

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">COAGULACIÓN</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">PERFIL RUTINARIO N° 2</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">PERFIL PRENATAL</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">COPROLOGÍA</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div><!-- Fin del cuarto row -->

    <div class="row">

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">MARCADORES TUMORALES</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                The body of the card
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <div class="col-md-3">
            <div class="card card-outline card-primary">
              <div class="card-header">
                <h3 class="card-title">OTROS</h3>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                The body of the card
            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

    </div><!--Fin del quinto row-->


</div><!--  Div principal de 12 columnas -->
