
<div class="card">
    <div class="card-header">
      <h3 class="card-title"><strong>Consultas realizadas</strong></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <table datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger" class="row-border hover table table-bordered table-striped">
            <thead>
              <tr>
                <th>Motivo</th>
                  <th>Peso</th>
                  <th>Talla</th>
                  <th>Temperatura</th>
                  <th>Presión arterial</th>
                  <th>Historia</th>
                  <th>Antecedentes</th>
                  <th>Fecha</th>
                  <th>Diágnostico</th>
                  <td>Abrir</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consulta of objeto">
                <td>{{consulta.motivo}}</td>
                  <td>{{consulta.peso}}</td>
                  <td>{{consulta.talla}}</td>
                  <td>{{consulta.temperatura}}</td>
                  <td>{{consulta.presionArt}}</td>
                  <td>{{consulta.historia}}</td>
                  <td>{{consulta.antePatol}}</td>
                  <td>{{consulta.fechaConsul | fechaFormat}}</td>
                  <td>{{consulta.diagnostico}}</td>
                  <td>
                    <button type="button" class="btn btn-block btn-default">
                      <a [routerLink]="['/consulta/', consulta._id]" style="color: gray;">

                        <i class="fas fa-folder"></i>
                      </a>
                    </button>
                  </td>
              </tr>
              
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->