<app-page-header
                 [titulo]="'Realizar consulta'"
                 [icono]="'fas fa-notes-medical'"
                 [breadcrumbs]="breads">

</app-page-header>

<!-- Contenedor de página -->
<section class="content">
    <div class="container-fluid"> 
      <ngx-loading-bar color="#339942" height="2" animationTime="0.8"></ngx-loading-bar>
      
      <div class="col-md-12">
        
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Datos de consulta</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" #consultaForm="ngForm" (ngSubmit)="onSubmit(consultaForm)">
                  <div class="card-body">
                    <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Nombre de paciente </label>
                        <input type="text" class="form-control" name="nombre" #nombre="ngModel"
                        [(ngModel)]="paciente.nombre" value="{{paciente.nombre}}" disabled>
                      </div>
          
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-md-3">

                        <div class="form-group">
                          <label>Fecha de consulta:</label>
                            <div class="input-group date">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <input type="date" class="form-control" max="{{ fechaAux }}"
                                value="{{consulta.fechaConsul | fechaFormat}}"   name="fechaConsul" #fechaConsul="ngModel" 
                                      [(ngModel)]="consulta.fechaConsul" disabled>
                            </div>
                        </div>

                    </div>

                        <div class="col-md-5">
    
                            <div class="form-group">
                              <label for="motivo">Motivo de consulta</label>
                              <input type="text" class="form-control" name="motivo"
                                     placeholder="Motivo de consulta"
                                     #motivo="ngModel" [(ngModel)]="consulta.motivo" ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                                     required autocomplete="off"
                                     [ngClass]="{'is-invalid': !motivo.valid && motivo.touched }">

                                     <small class="text-danger" *ngIf="!motivo.valid && motivo.touched">
                                       Campo requerido
                                     </small>
                            </div>
    
                        </div>
            
                        <div class="col-md-4">
                            
                            <div class="form-group">
                                <label for="tiemSintoma">Tiempo de evolución de síntomas</label>
                                <input type="text" class="form-control" name="tiemSintoma" 
                                       placeholder="Tiempo de evolución ..."
                                       #tiemSintoma="ngModel" [(ngModel)]="consulta.tiemSintoma" 
                                       required autocomplete="off" ngxPattern="[0-9]"
                                       [ngClass]="{'is-invalid': !tiemSintoma.valid && tiemSintoma.touched }">
  
                                       <small class="text-danger" *ngIf="!tiemSintoma.valid && tiemSintoma.touched">
                                         Campo requerido
                                       </small>
                            </div>
    
                        </div>
                        

                    </div><!-- Fin del primer row -->

                    <div class="row">
                      
                      <div class="col-md-12">

                          <div class="form-group">
                            <label>Historia de la enfermedad</label>
                            <textarea id="historia" rows="3" class="form-control" placeholder="Historia de la enfermedad" autocomplete="off"
                                   name="historia" #historia="ngModel" [(ngModel)]="consulta.historia" ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                                   required [ngClass]="{'is-invalid': !historia.valid && historia.touched }">

                            </textarea>
                            <small class="text-danger" *ngIf="!historia.valid && historia.touched">
                              Campo requerido
                            </small>
                          </div>

                      </div>

                    </div> <!-- Fin del segundo row -->

                    <div class="row">
                        <div class="col-md-12">
                          <!-- textarea -->
                          <div class="form-group">
                              <label>Antecedentes patológicos personales o de enfermedades crónicas</label>
                              <textarea class="form-control" rows="3" placeholder="Antecedentes patológicos ..." autocomplete="off"
                                        name="antePatol" #antePatol="ngModel" [(ngModel)]="consulta.antePatol" ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                                        required [ngClass]="{'is-invalid': !antePatol.valid && antePatol.touched }">
     
                                 </textarea>
                                 <small class="text-danger" *ngIf="!antePatol.valid && antePatol.touched">
                                   Campo requerido
                                 </small>
                          </div>
                        </div>

                    </div><!-- Fin del sexto row -->
                    <fieldset class="border p-2">
                      <legend class="w-auto">Signos vitales</legend>
                   
                    <div class="row"> <!--Div de signos vitales-->
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>Peso</label>
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Peso" (ngModelChange)="cal3()"
                                      name="peso" #peso="ngModel" [(ngModel)]="consulta.peso" required autocomplete="off"
                                      [ngClass]="{'is-invalid': !peso.valid && peso.touched}" ngxPattern="[0-9.]+">
                                      <div class="input-group-prepend">
                                      <span class="input-group-text">kg</span>
                                    </div>
                                  </div>
                                      <small class="text-danger" *ngIf="!peso.valid && peso.touched">
                                        Campo requerido
                                      </small>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>Talla</label>
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="Talla" (ngModelChange)="cal3()"
                                      name="talla" #talla="ngModel" [(ngModel)]="consulta.talla" required autocomplete="off"
                                      [ngClass]="{'is-invalid': !talla.valid && talla.touched }" ngxPattern="[0-9.]+">
                                      <div class="input-group-prepend">
                                      <span class="input-group-text" *ngIf="talla.value < 1">cm</span>
                                      <span class="input-group-text" *ngIf="talla.value >= 1">m</span>
                                    </div> 
                                  </div>
                                      <small class="text-danger" *ngIf="!talla.valid && talla.touched">
                                        Campo requerido
                                      </small>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <label>Índice de masa corporal</label>
                            <div class="input-group">
                            <input type="number" class="form-control" placeholder="Índice de masa corporal" value="{{indice | number}}"
                                      name="indiceMC" #indiceMC="ngModel" [(ngModel)]="consulta.indiceMC" autocomplete="off" ngxPattern="[0-9.]+"
                                      [ngClass]="{'is-invalid': indiceMC.touched }">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text">IMC</span>
                                      </div>
                                    </div>
                                      
                        </div>
                      </div>
                      
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                          <label>Temperatura</label>
                          <div class="input-group">
                          <input type="text" class="form-control" placeholder="Temperatura"
                                    name="temperatura" #temperatura="ngModel" [(ngModel)]="consulta.temperatura" required autocomplete="off"
                                    [ngClass]="{'is-invalid': !temperatura.valid && temperatura.touched }" ngxPattern="[0-9.]+"> 
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">°C</span>
                                   </div>
                                  </div>
                                    <small class="text-danger" *ngIf="!temperatura.valid && temperatura.touched">
                                      Campo requerido
                                    </small>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" *ngIf="!esMenor()">
                          <label>Presión arterial</label>
                          <div class="input-group">
                          <input type="text" class="form-control" placeholder="Presión arterial"
                                    name="presionArt" #presionArt="ngModel" [(ngModel)]="consulta.presionArt" 
                                    required autocomplete="off" ngxPattern="[0-9/]+"
                                    [ngClass]="{'is-invalid': !presionArt.valid && presionArt.touched }">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">PA</span>
                                    </div>
                                  </div>
                                    <small class="text-danger" *ngIf="!presionArt.valid && presionArt.touched">
                                      Campo requerido
                                    </small>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" *ngIf="!esMenor()">
                          <label>Frecuencia cardiáca</label>
                          <div class="input-group">
                          <input type="text" class="form-control" placeholder="Frecuencia cardiáca"
                                    name="freCardia" #freCardia="ngModel" [(ngModel)]="consulta.freCardia" required autocomplete="off"
                                    [ngClass]="{'is-invalid': !freCardia.valid && freCardia.touched }" ngxPattern="[0-9]+">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">FC</span>
                                    </div>
                                  </div>
                                    <small class="text-danger" *ngIf="!freCardia.valid && freCardia.touched">
                                      Campo requerido
                                    </small>
                      </div>
                    </div>
                  </div>
                  <!-- Fin del div signos vitales -->
                </fieldset>

                    <div class="row">
                        <div class="col-md-12">
                          <!-- textarea -->
                          <div class="form-group">
                              <label>Alergias</label>
                              <textarea class="form-control" rows="3" placeholder="Alergias" autocomplete="off"
                                        name="alergias" #alergias="ngModel" [(ngModel)]="consulta.alergias" 
                                        ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                                        required [ngClass]="{'is-invalid': !alergias.valid && alergias.touched }">
     
                                 </textarea>
                                 <small class="text-danger" *ngIf="!alergias.valid && alergias.touched">
                                   Campo requerido
                                 </small>
                          </div>
                        </div>

                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!-- textarea -->
                        <div class="form-group">
                            <label>Diagnóstico (*)</label>
                            <textarea class="form-control" rows="3" placeholder="Diagnóstico" autocomplete="off"
                                      name="diagnostico" #diagnostico="ngModel" [(ngModel)]="consulta.diagnostico" 
                                      ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                                  >
   
                               </textarea>
                               
                        </div>
                      </div>

                  </div>
                    

                    <div class="card-footer">

                      <input  type="submit" value="Guardar consulta" class="btn btn-primary"
                      [disabled]="consultaForm.invalid"/>
                      <input type="button" class="btn btn-secondary ml-3 mr-0" value="Limpiar campos" (click)="limpiarCampos()"/>
                      <div class="float-right d-none d-sm-block">
                        <b>Campos opcionales (*)</b> 
                      </div>
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                </form>
            </div><!-- Fin del card -->

            <!-- Sweet alerts -->
              <!-- Sweet Confirm -->
              <swal
                #redireccionSwal
                title="Consulta registrada!"
                text="¿Desea regresar a los expedientes?"
                icon="success"
                [showCancelButton]="true"
                confirmButtonText= "Si!"
                cancelButtonText= "No!"
                confirmButtonColor= "#3085d6"
                cancelButtonColor= "#bbbbbb"
                [focusCancel]="true"
                (confirm)="redireccionar()">
              </swal>

              <!-- Sweet error -->

              <swal
                #errorSwal
                title="Error!"
                text="No se pudo realizar el registro"
                icon="error"
                confirmButtonText= "Ok"
                confirmButtonColor= "#3085d6"
                [focusConfirm]="true">
              </swal>

              <!-- Sweet alerts -->

        </div><!-- Fin del div de las doce columnas -->

    </div><!-- /.container-fluid -->
</section>