<app-page-header [titulo]="'Home'" [breadcrumbs]="breads"> </app-page-header>

<!-- Contenedor de página -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="chart-wrapper">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Total de pacientes por género</h3>
            </div>
            <div class="card-body">
              <canvas
                baseChart
                id="pieChart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [legend]="pieChartLegend"
                [colors]="pieChartColors"
              >
              </canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="chart-wrapper">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Pacientes menores y mayores de 18</h3>
            </div>

            <div class="card-body">
              <app-bar-chart [mediciones]="pacientes"></app-bar-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="chart-wrapper">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Pacientes registrados de San Vicente</h3>
            </div>
            <div class="card-body">
              <app-bar-pacientes-depar
                [generarGrafico]="pacientes"
              ></app-bar-pacientes-depar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="chart-wrapper">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Consultas registradas del año actual</h3>
            </div>
            <div class="card-body">
              <app-bar-pacientes-actual-year
                [generarGrafico]="consultas"
              ></app-bar-pacientes-actual-year>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
