<div class="hold-transition login-page" style="background-color: white;">
  <div class="login-box">
    <div>
      <img
        src="assets/imgs/sinai_logo.jpg"
        class="img-fluid"
        alt="logo Mount Sinaí"
      />
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Ingresa tus claves para iniciar sesión</p>

        <form 
          role="form"
          #loginForm="ngForm"
          (ngSubmit)="logear()"  
        >
          <small
              class="text-danger"
              *ngIf="!user.valid && user.touched" 
          >
            Campo requerido
          </small>
          <div class="input-group mb-3">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Usuario" 
              autofocus 
              name="user"
              #user="ngModel"
              [(ngModel)]="usuario.usuario"
              required
              autocomplete="off"
              [ngClass]="{
                'is-invalid': 
                 !user.valid && user.touched
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div><!--Fin del input group-->
          
            <small
              class="text-danger"
              *ngIf="!pass.valid && pass.touched" 
            >
              Campo requerido
            </small>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              name="pass"
              #pass="ngModel"
              [(ngModel)]="usuario.password"
              required
              [ngClass]="{
                'is-invalid': 
                 !pass.valid && pass.touched
              }"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div><!--Fin del input group-->
          
          <br />
          <div class="row">
            <!-- /.col -->
            <div class="col-12">
              <button 
                type="submit" 
                class="btn btn-primary btn-block"
                [disabled]="loginForm.invalid"
              >
                Iniciar sesión
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mb-3">
          <hr />
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a href="#">¿Recuperar contraseña?</a>
        </p>
        
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>

  <!-- /.login-box -->
</div>
