<app-page-header
                 [titulo]="'Archivo de expedientes'"
                 [icono]="'fas fa-archive'"
                 [breadcrumbs]="breads">

</app-page-header>

<!-- Contenedor de página -->
<section class="content">
    <div class="container-fluid">

     <!-- <ngx-loading-bar color="#339942" height="2" animationTime="0.8"></ngx-loading-bar> -->

        <div class="col-md-12">

            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Registros de pacientes</h3>
                </div>
                <!-- /.card-header -->
                <!-- contenido central -->
                <div class="card-body">
                    
                    <table class="row-border hover table table-bordered table-striped" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Género</th>
                            <th>Encargado</th>
                            <th>Parentesco</th>
                            <th>Fecha nacimiento</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let paciente of pacientes">
                            <td>{{paciente.nombre}}</td>
                            <td>{{paciente.apellidos}}</td>
                            <td>{{paciente.telefono}}</td>
                            <td [ngSwitch]="paciente.gen">
                            <p *ngSwitchCase="'M'">
                            masculino
                            </p>
                            <p *ngSwitchCase="'F'">
                            femenino
                            </p>
                            <p *ngSwitchDefault>
                            
                            </p>
                            </td>
                            <td>{{paciente.encargado}}</td>
                            <td>{{paciente.parentesco}}</td>
                            <td>{{paciente.fechaNac}}</td>
                          </tr>
                         <!--<tr>
                            <td>2</td>
                            <td>Someone</td>
                            <td>Youknow</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Iamout</td>
                            <td>Ofinspiration</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>Yoda</td>
                            <td>Skywalker</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>Patrick</td>
                            <td>Dupont</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>Barack</td>
                            <td>Obama</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>François</td>
                            <td>Holland</td>
                          </tr>
                          <tr>
                            <td>8</td>
                            <td>Michel</td>
                            <td>Popo</td>
                          </tr>
                          <tr>
                            <td>9</td>
                            <td>Chuck</td>
                            <td>Norris</td>
                          </tr>
                          <tr>
                            <td>10</td>
                            <td>Simon</td>
                            <td>Robin</td>
                          </tr>
                          <tr>
                            <td>11</td>
                            <td>Louis</td>
                            <td>Lin</td>
                          </tr>
                          <tr>
                            <td>12</td>
                            <td>Zelda</td>
                            <td>Link</td>
                          </tr>
                        </tbody>-->
                    </table>


                </div>
                <!-- fin del card-body -->

            </div><!-- Fin del card -->



        </div><!-- Fin del div de las doce columnas -->

    </div><!-- /.container-fluid -->
</section>
