<app-page-header
                 [titulo]="'Expedientes'"
                 [icono]="'fas fa-archive'"
                 [breadcrumbs]="breads">

</app-page-header>

<!-- Contenedor de página -->
<section class="content">
    <div class="container-fluid">

      <ngx-loading-bar color="#339942" height="2" animationTime="2000" 
                       runInterval="100" progress="0">
      </ngx-loading-bar> 

        <div class="col-md-12">

            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Registro de pacientes</h3>
                  <div class="card-tools">
                    
                    <!-- Boton para ayuda -->
                              <ng-template #popContent>
                                <p>
                                  <b>Click! para activar </b>la información de la tabla
                                </p>
                              </ng-template>
                              <ng-template #popTitle>
                                <b>Guía de uso</b>
                                <p class="float-right">
                                  <i class="fas fa-info-circle fa-lg"></i>
                                </p>
                              </ng-template>
                              <button
                                type="button"
                                class="btn btn-tool"
                                placement="left"
                                popoverClass="text-dark"
                                [ngbPopover]="popContent"
                                [popoverTitle]="popTitle"
                                triggers="mouseenter:mouseleave"
                                (click)="ngxSmartModalService.getModal('infoModal').open()"
                              >
                                <i class="fas fa-info-circle fa-2x"></i>
                              </button>
                    <!-- Boton para ayuda -->
                    
                  </div>
                  <!-- card tools -->
                </div>
                <!-- /.card-header -->
                <!-- contenido central --> <!--  table table-striped table-bordered 
                row-border hover table table-bordered table-striped-->
                <div class="card-body" style="overflow-y: scroll !important;">
                    
                    <table class="row-border hover table table-bordered table-striped" style="width:100%" datatable [dtOptions]="dtOptions"
                    [dtTrigger]="dtTrigger">
                        <thead>
                          <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Género</th>
                            <th>Edad</th>
                            <th>Abrir</th>
                            <th>Consulta</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let paciente of pacientes; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{paciente.nombre}}</td>
                            <td>{{paciente.apellidos}}</td>
                            <td>{{paciente.telefono | telFormat }}</td>
                            <td [ngSwitch]="paciente.gen">
                              <p *ngSwitchCase="'M'">
                                Masculino
                              </p>
                              <p *ngSwitchCase="'F'">
                                Femenino
                              </p>
                              <p *ngSwitchDefault>
                              
                              </p>
                            </td>
                            <td>{{paciente.fechaNac | calcularEdad }}</td>
                            <td>
                              <button type="button" class="btn btn-block btn-default"
                                      (click)="redireccionarExpediente(paciente._id)">
                                  <i class="fas fa-folder"></i> 
                              </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-block btn-default"
                                        (click)="redireccionarConsulta(paciente._id)">
                                    <i class="fas fa-notes-medical"></i>
                                </button>
                            </td>
                           
                          </tr>
                      
                        </tbody>
                    </table>


                </div>
                <!-- fin del card-body -->

            </div><!-- Fin del card -->



        </div><!-- Fin del div de las doce columnas -->

    </div><!-- /.container-fluid -->
</section>

<!-- Ngx-smart-modals -->

<!-- Modal de informativo de ayuda del formulario  -->
<ngx-smart-modal
  #infoModal
  identifier="infoModal"
  customClass="modal-dialog modal-lg"
>
  <h3><i class="fas fa-info-circle fa-sm"></i>
    Infomación de la tabla 
 </h3>
  
    <div class="col-md-12">
      <div class="card card-primary card-outline card-tabs">
        <div class="card-header p-0 pt-1 border-bottom-0">
          <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Especificaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Generalidades</a>
            </li>
            
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-three-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
              
              <ul>
                <li>
                  En esta tabla se muestran todos los registros de la información de cada paciente (expedientes),
                  cada uno de los registros se encuentra ordenado por su código de registro (por defecto).
                 </li>
                 <li>
                   En cada registro se muestran los datos más generales del paciente.
                 </li>
                 <li>
                   Cada registro en la columna <b>Abrir</b> poseé un boton con el icono: <i class="fas fa-folder fa-lg"></i>
                   el cual abre el expediente completo mostrando el historial de datos del paciente.
                 </li>
                 <li>
                   Cada registro en la columna <b>Consulta</b> poseé un boton con el icono: <i class="fas fas fa-notes-medical fa-lg"></i>
                   el cual abre el formulario de consulta para ese registro de paciente seleccionado.
                 </li>
               </ul>
            </div>
            <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
               
              <ul>
                <li>
                    <b>Paginación: </b>La cantidad de registros mostrada en la tabla se encuentra segmentada en páginas,
                    cada página de la tabla muestra 10 registros por defecto. En la esquina inferior derecha se muestra
                    un menú de paginación para navegar facilmente entre las páginas de la tabla. 
                </li>
                <li>
                  <b>Mostrar cierto número de registros:</b> En el apartado de la esquina superior izquierda de la tabla
                  se elije el número de registros a mostrar en cada página de la tabla.
                </li>
                <li>
                  <b>Busqueda de registros en la tabla:</b> En el apartado de la esquina superior derecha de la tabla se 
                  muestra un campo de busqueda, este permite filtrar los registros que muestra la tabla, el filtro funciona
                  de tal manera que se puede buscar ingresando cualquier dato asociado al registro ó registros que se desean ver.
                  En este caso por ejemplo: Por código de expediente, nombres, apellidos, teléfono, género y edad.
                </li>
                <li>
                  <b>Ordenamiento:</b> Los registros mostrados se pueden ordenar por cualquiera de los datos mostrados en sus columnas
                  para facilitar aun más la busqueda de registros, funciona por cada página, según sean los datos mostrados
                  los registros se pueden ordenar de manera ascendente ó descendente clickeando el simbolo de flecha al lado del título
                  de cada columna, sí los datos mostrados en la columna son números se ordenan de menor a mayor y viceversa, sí los datos 
                  que muestra la columna son letras se ordenan alfabéticamente ascendente ó desecentemente. 
                </li>
              </ul>

            </div>
            
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  

  <button class="btn btn-primary" (click)="infoModal.close()">Ok!</button>
</ngx-smart-modal>
<!-- Modal de informativo de ayuda del formulario  -->
<!-- Ngx-smart-modals -->