<div class="row">

    <div class="col-md-4">

          <!-- TABLE: RECETA -->
          <div class="card">
            <div class="card-header border-transparent">
            <h3 class="card-title">Agrega medicamentos</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
       
            </div>
            <!-- /.card-body -->
            
        </div>
        <!-- /.card -->

    </div>

    <div class="col-md-8">

        <!-- TABLE: RECETA -->
        <div class="card">
            <div class="card-header border-transparent">
            <h3 class="card-title">Medicamentos Recetados</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">

                <div class="table-responsive">
                        <table class="table m-0">
                        <thead>
                        <tr>
                            <th>Medicamento</th>
                            <th>Concentración</th>
                            <th>Cantidad</th>
                            <th>Frecuencia</th>
                            <th>Durante</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Acetaminofen SOLUCION inyectable</td>
                            <td>500 mg</td>
                            <td>1</td>
                            <td>3 horas</td>
                            <td>7 dias</td>
                        </tr>
                        
                        </tbody>
                        </table>
                </div>
                <!-- /.table-responsive -->        
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            <a  class="btn btn-sm btn-primary float-right">Confirmar receta</a>
            <a class="btn btn-sm btn-secondary float-right">Imprimir</a>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

    </div>

</div>



