<div class="row">

    <div class="col-md-4">

        <div class="row">
            <p class="card-title">Agrega medicamento</p>
        </div>
        <form role="form"
              #recetaForm="ngForm"
              (ngSubmit)="onSubmit(recetaForm)">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="medicamento">Medicamento:</label>
                            <input type="text" 
                                class="form-control input-lg"
                                name="medicamento" 
                                placeholder="Digite un medicamento"
                                autofocus
                                autocomplete="off"
                                #medicamento="ngModel"
                                [(ngModel)]="recetaItem.medicamento"
                                ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                                required
                                [ngClass]="{
                                    'is-invalid':
                                    !medicamento.valid && medicamento.touched
                                }"
                                >
                                <small
                                class="text-danger"
                                *ngIf="!medicamento.valid && medicamento.touched"
                                >
                                Campo requerido
                                </small>
                        </div>
                    </div>
                </div><!-- Fin del primer row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="presentacion">Presentación:</label>
                            <div class="input-group mb-3">
                                <select
                                name="presentacion"
                                class="form-control"
                                #presentacion="ngModel"
                                [ngModel]="recetaItem.presentacion"
                                required
                                [ngClass]="{
                                    'is-invalid':
                                    !presentacion.valid && presentacion.touched
                                }"
                                (ngModelChange)="cambio($event)"
                                >
                                <option value="Tableta" selected>Tableta</option>
                                <option value="Capsula">Capsula</option>
                                <option value="Solución inyectable">Solución inyectable</option>
                                <option value="Solución bebible">Solución bebible</option>
                                
                                </select>
                                
                                <small
                                class="text-danger"
                                *ngIf="!presentacion.valid && presentacion.touched"
                                >
                                Campo requerido
                                </small>
                                
                            </div>
                        </div>
                    </div>
                </div><!-- Fin del segundo row -->
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="medicamento">Concentración:</label>
                                <input type="text" 
                                    class="form-control input-lg"
                                    name="concentracion" 
                                    placeholder="Digite concentración"
                                    #concentracion="ngModel"
                                    [(ngModel)]="recetaItem.concentracion"
                                    autocomplete="off"
                                    required
                                    ngxPattern="^\d+\.?\d{0,2}$"
                                    [ngClass]="{
                                        'is-invalid':
                                        !concentracion.valid && concentracion.touched
                                    }"
                                    >
                                <small
                                class="text-danger"
                                *ngIf="!concentracion.valid && concentracion.touched"
                                >
                                Campo requerido
                                </small>
                            </div>   
                        </div> 
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="medida">Medida:</label>
                            <div class="input-group mb-3">
                                <select
                                name="medida"
                                class="form-control"
                                #medida="ngModel"
                                [(ngModel)]="recetaItem.medida"
                                required
                                [ngClass]="{
                                    'is-invalid':
                                    !medida.valid && medida.touched
                                }"
                                >
                                
                                <option value="mg" selected>mg</option>
                                <option value="ml">ml</option>
                                
                                </select>

                                <small
                                class="text-danger"
                                *ngIf="!medida.valid && medida.touched"
                                >
                                Campo requerido
                                </small>

                            </div>
                        </div>
                    </div>
                </div><!-- Fin del tercer row -->

                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" 
                                class="form-control"
                                name="cantidad"
                                min="1"
                                max=""
                                value="1"
                                #cantidad="ngModel"
                                [(ngModel)]="recetaItem.cantidad"
                                required
                                [ngClass]="{
                                    'is-invalid':
                                    !cantidad.valid && cantidad.touched
                                }"
                                >
                                
                                <small
                                class="text-danger"
                                *ngIf="!cantidad.valid && cantidad.touched"
                                >
                                Campo requerido
                                </small>

                        </div>
                    </div>
                    <div class="col-md-5">
                            <div class="form-group">
                                <label for="cantidad">Frecuencia:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Cada: 
                                        </span>
                                    </div>
                                    <input type="number" 
                                    class="form-control"
                                    name="frecuencia"
                                    min="1"
                                    max=""
                                    value="2"
                                    #frecuencia="ngModel"
                                    [(ngModel)]="recetaItem.frecuencia"
                                    required
                                    [ngClass]="{
                                        'is-invalid':
                                        !frecuencia.valid && frecuencia.touched
                                    }"
                                    >
                                    <small
                                    class="text-danger"
                                    *ngIf="!frecuencia.valid && frecuencia.touched"
                                    >
                                    Campo requerido
                                    </small>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="tiempo"><i class="fas fa-alarm-clock"></i></label>
                            <div class="input-group mb-3">
                                <select
                                name="tiempo"
                                class="form-control"
                                #tiempo="ngModel"
                                [(ngModel)]="recetaItem.tiempo"
                                required
                                [ngClass]="{
                                    'is-invalid':
                                    !tiempo.valid && tiempo.touched
                                }"
                                >
                               
                                <option value="Hora/s" selected>Hora/s</option>
                                <option value="Minuto/s">Minutos</option>
                                </select>
                                 
                                <small
                                class="text-danger"
                                *ngIf="!tiempo.valid && tiempo.touched"
                                >
                                Campo requerido
                                </small>

                            </div>
                        </div>
                    </div>

                </div><!-- Fin del cuarto row -->
                <div class="row">
                    
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="cantidad">Durante:</label>
                                
                                <input type="number" 
                                       class="form-control"
                                       name="duracion"
                                       min="1"
                                       max="30"
                                       value="7"
                                       #duracion="ngModel"
                                       [(ngModel)]="recetaItem.duracion">  
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lapso"><i class="fas fa-alarm-clock"></i></label>
                            <div class="input-group mb-3">
                                <select
                                name="lapso"
                                class="form-control"
                                #lapso="ngModel"
                                [(ngModel)]="recetaItem.lapso"
                                >
                                <option value='Dia/s' selected>Dia/s</option>
                                <option value='Mes/es'>Mes/es</option>
                                <option value='Año/s'>Año/s</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="lapso"><i class="fas fa-alarm-clock"></i></label>
                        <br>
                        <button type="submit"
                                class="btn btn-primary"
                                [disabled]="recetaForm.invalid">
                            Agregar
                        </button>
                    </div>
                </div><!--Fin del quinto row-->
            </div><!-- Fin del card body -->
        </form><!--Fin del form de receta-->

    </div><!-- Fin del div para agregar a receta -->

    <div class="col-md-8">

        <!-- TABLE: RECETA -->
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title" *ngIf="items.length === 0">No se han recetado medicamentos</h3>
                <h3 class="card-title" *ngIf="items.length > 0">Medicamentos recetados</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">

                <div class="table-responsive">
                        <table class="table m-0">
                        <thead>
                        <tr>
                            <th>Medicamento</th>
                            <th>Presentación</th>
                            <th>Concentración</th>
                            <th>Cantidad</th>
                            <th>Frecuencia</th>
                            <th>Durante</th>
                            <th>Descartar</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                            <ng-container *ngIf="items.length > 0">
                                <tr *ngFor="let item of items; let i = index">
                                    <td>{{ item.medicamento }}</td>
                                    <td>{{ item.presentacion }}</td>
                                    <td>{{ item.concentracion }}</td>
                                    <td>{{ item.cantidad }}</td>
                                    <td>{{ item.frecuencia }}</td>
                                    <td>{{ item.duracion }}</td>
                                    <td>
                                        <button class="btn btn-block btn-default"
                                                (click)="descartar(i)">
                                            <i class="fas fa-backspace"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                            
                        </tbody>
                        </table>
                </div>
                <!-- /.table-responsive --> 
                <hr>
                <div class="col-md-12">
                    <!-- textarea -->
                    <div class="form-group">
                      <label for="detalles">Detalles medicos (*):</label>
                      <textarea
                        class="form-control"
                        rows="3"
                        placeholder="Detalles ..."
                        autocomplete="off"
                        name="detalles"
                        ngxPattern="^[a-zA-Z0-9\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                        #detalles="ngModel"
                        [(ngModel)]="detallesMedicos"
                      >
                      </textarea>
  
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
             
              <button [disabled]="items.length === 0"
                      class="btn btn-primary float-left"
                      (click)="confirmar()">
                    <i class="fas fa-check"></i> Adjuntar receta
              </button>
              <button class="btn btn-secondary ml-3 mr-0 float-right" >
                  <i class="fas fa-print"></i> Imprimir
              </button>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

    </div> <!-- Fin del div que contiene la tabla de receta -->

</div>
<!-- Sweet alerts -->
              <!-- Sweet Confirm -->
              <swal
                #confirmarSwal
                title="¿Adjuntar los datos de receta?"
                text="¿Desea proceder con el registro de estos datos?"
                icon="question"
                [showCancelButton]="true"
                confirmButtonText= "Si!"
                cancelButtonText= "No!"
                confirmButtonColor= "#3085d6"
                cancelButtonColor= "#bbbbbb"
                [focusCancel]="true"
                >
              </swal>



