<div class="card-body">

    <form
    role="form"
    #consultaForm="ngForm"
    >

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="form-group">
              <label>Fecha de consulta:</label>
              <div class="input-group date">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
                <input
                  type="date"
                  class="form-control"
                  max="{{ fechaAux }}"
                  value="{{ consulta.fechaConsul | fechaFormat }}"
                  name="fechaConsul"
                  #fechaConsul="ngModel"
                  [(ngModel)]="consulta.fechaConsul"
                  disabled
                />
              </div>
            </div>

          </div>
        </div>

      </div><!-- Fin del primer row -->
      <br>

      <div class="row">
        <div class="col-md-12">
          
          <div class="row">
            <div class="col-md-2">
              <div class="form-group clearfix">
                <div class="icheck-info d-inline">
                  <input
                    type="radio"
                    value="A"
                    id="radioPrimary1"
                    name="r1"
                    [checked]="motivoCon"
                    (change)="motivoChange($event)"
                  />
                  <label for="radioPrimary1">
                    Escribe un motivo
                  </label>
                </div>
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="icheck-info d-inline">
                <input
                  type="radio"
                  value="B"
                  id="radioPrimary2"
                  name="r1"
                  (change)="motivoChange($event)"
                />
                <label for="radioPrimary2">
                  Motivos comunes
                </label>
              </div>
            </div>
          </div>

        </div>
      </div><!--Fin del segundo row-->

      <div class="row">

        <div class="col-md-4" *ngIf="motivoCon">
          <label for="motivo">Motivo:</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control capitalize"
              name="motivo"
              placeholder="Motivo de consulta"
              #motivo="ngModel"
              [(ngModel)]="consulta.motivo"
              ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              autocomplete="off"
              required
              [ngClass]="{
                'is-invalid': !motivo.valid && motivo.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popMotivoContent"
              [popoverTitle]="popMotivoTitulo"
              triggers="manual"
              #p1="ngbPopover"
              (click)="ayuda ? p1.open() : ''"
              (focus)="ayuda ? p1.open() : ''"
              (blur)="ayuda ? p1.close() : ''"
            />
            <div class="input-group-append">
              <button type="button" class="btn btn-info" (click)="agregarMotivosComunes()">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          
            <ng-template #popMotivoContent>
              Digite el motivo de la consulta médica.
              Si el motivo de consulta se considera común se puede
              agregar a la lista de motivos comunes clickeando el 
              boton con el simbolo <i class="fas fa-plus"></i> para 
              evitar volver a digitar posteriormente.
            </ng-template>
            <ng-template #popMotivoTitulo>
              <b>Motivo de la consulta</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div><!--Fin del input-group -->
          <small
              class="text-danger"
              *ngIf="!motivo.valid && motivo.touched"
            >
              Campo requerido
            </small>
        </div>

        <div class="col-md-4" *ngIf="!motivoCon">
          <label for="motivo">Motivo:</label>
          <div class="input-group">
              <select
              name="comunes"
              class="form-control"
              #motivoSelect
              (change)="selectMotivoComun($event)"
              required
              [ngClass]="{
                'is-invalid': !motivoSelect.valid && motivoSelect.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popMotivoSelectContent"
              [popoverTitle]="popMotivoSelectTitulo"
              triggers="manual"
              #p2="ngbPopover"
              (click)="ayuda ? p2.open() : ''"
              (focus)="ayuda ? p2.open() : ''"
              (blur)="ayuda ? p2.close() : ''">
                  <option value="" selected disabled hidden *ngIf="motivosComunes.length > 0; else noHayMotivos">Seleccione motivo común</option>
                  <ng-template #noHayMotivos>
                    <option value="" selected disabled hidden>No hay motivos comunes</option>
                  </ng-template>
                  <option *ngFor="let motivoComun of motivosComunes" value='{{motivoComun}}'>
                    {{ motivoComun | titlecase }}
                  </option>
              </select>
              
          </div>
          <small
              class="text-danger"
              *ngIf="!motivoSelect.valid && motivoSelect.touched"
            >
              Campo requerido
          </small>
          <ng-template #popMotivoSelectContent>
            Seleccione el motivo de la consulta médica
            de la lista de motivos comunes.
            </ng-template>
          <ng-template #popMotivoSelectTitulo>
              <b>Motivos comunes de consulta</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
          </ng-template>
          
        </div>
        
        <div class="col-md-2">
          <div class="form-group">
              <label for="cantidad">Sintomas desde hace:</label>
                  
              <input type="number" 
                     class="form-control"
                     name="duracion"
                     min="1"
                     max="30"
                     value="7"
                     step="1"
                     required
                     #duracion="ngModel"
                     [(ngModel)]="consulta.tiemSintomas.tiempo"
                     ngxPattern="^[1-9]+[0-9]*$"
                     [ngClass]="{
                      'is-invalid': !duracion.valid && duracion.touched
                      }"
                      placement="top"
                      popoverClass="text-dark"
                      [autoClose]="true"
                      [ngbPopover]="popNumeroContent"
                      [popoverTitle]="popNumeroTitulo"
                      triggers="manual"
                      #p3="ngbPopover"
                      (click)="ayuda ? p3.open() : ''"
                      (focus)="ayuda ? p3.open() : ''"
                      (blur)="ayuda ? p3.close() : ''">
                     <small
                            class="text-danger"
                            *ngIf="!duracion.valid && duracion.touched"
                          >
                            Campo requerido
                     </small> 
                     <ng-template #popNumeroContent>
                      Seleccione ó digite la cantidad de tiempo transcurrido.
                      </ng-template>
                    <ng-template #popNumeroTitulo>
                        <b>Sintomas desde:</b>
                        <p class="float-right">
                          <i class="fas fa-info-circle fa-lg"></i>
                        </p>
                    </ng-template> 
          </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="lapso"><i class="fas fa-alarm-clock"></i></label>
                <div class="input-group mb-3">
                    <select
                    name="lapso"
                    class="form-control"
                    #lapso="ngModel"
                    [(ngModel)]="consulta.tiemSintomas.lapso"
                    placement="top"
                    popoverClass="text-dark"
                    [autoClose]="true"
                    [ngbPopover]="popLapsoContent"
                    [popoverTitle]="popLapsoTitulo"
                    triggers="manual"
                    #p4="ngbPopover"
                    (click)="ayuda ? p4.open() : ''"
                    (focus)="ayuda ? p4.open() : ''"
                    (blur)="ayuda ? p4.close() : ''">
                    <option value='Hora/s' selected>Hora/s</option>
                    <option value='Dia/s'>Dia/s</option>
                    <option value='Mes/es'>Mes/es</option>
                    <option value='Año/s'>Año/s</option>
                    </select>
                    <ng-template #popLapsoContent>
                      Seleccione la medida del tiempo transcurrido.
                      </ng-template>
                    <ng-template #popLapsoTitulo>
                        <b>Sintomas desde:</b>
                        <p class="float-right">
                          <i class="fas fa-info-circle fa-lg"></i>
                        </p>
                    </ng-template> 
                    
                </div>
            </div>
        </div>

      </div><!--Fin del tercer row-->
      
      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Historia de la enfermedad:</label>
            <textarea
              id="historia"
              rows="3"
              class="form-control"
              placeholder="Historia de la enfermedad"
              autocomplete="off"
              name="historia"
              #historia="ngModel"
              [(ngModel)]="consulta.historia"
              ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              required
              [ngClass]="{
                'is-invalid': !historia.valid && historia.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popHistoriaContent"
              [popoverTitle]="popHistoriaTitulo"
              triggers="manual"
              #p5="ngbPopover"
              (click)="ayuda ? p5.open() : ''"
              (focus)="ayuda ? p5.open() : ''"
              (blur)="ayuda ? p5.close() : ''">
            </textarea>
            <small
              class="text-danger"
              *ngIf="!historia.valid && historia.touched"
            >
              Campo requerido
            </small>
            <ng-template #popHistoriaContent
              >Digite una breve historia del padecimiento del paciente.</ng-template
            >
            <ng-template #popHistoriaTitulo>
              <b>Historia de la enfermedad</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- Fin del cuarto row -->

      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label
              >Antecedentes patológicos personales ó de enfermedades
              crónicas (*):
            </label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Antecedentes patológicos"
              autocomplete="off"
              name="antePatol"
              #antePatol="ngModel"
              [(ngModel)]="consulta.antePatol"
              ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              [ngClass]="{
                'is-invalid': !antePatol.valid && antePatol.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popAntecedentesContent"
              [popoverTitle]="popAntecedentesTitulo"
              triggers="manual"
              #p6="ngbPopover"
              (click)="ayuda ? p6.open() : ''"
              (focus)="ayuda ? p6.open() : ''"
              (blur)="ayuda ? p6.close() : ''">
            </textarea>
            <small
              class="text-danger"
              *ngIf="!antePatol.valid && antePatol.touched"
            >
              Campo requerido
            </small>
            <ng-template #popAntecedentesContent>
              Puede digitar de manera opcional los padecimientos
              que el paciente presenta ó ha presentado con anterioridad.
            </ng-template>
            <ng-template #popAntecedentesTitulo>
              <b>Antecedentes patológicos personales (*)</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- Fin del quinto row -->
      <fieldset class="border p-2">
        <legend class="w-auto">Signos vitales</legend>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Temperatura:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Temperatura"
                  name="temperatura"
                  #temperatura="ngModel"
                  [(ngModel)]="consulta.temperatura"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      !temperatura.valid && temperatura.touched   
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popTemperaturaContent"
                  [popoverTitle]="popTemperaturaTitulo"
                  triggers="manual"
                  #p7="ngbPopover"
                  (click)="ayuda ? p7.open() : ''"
                  (focus)="ayuda ? p7.open() : ''"
                  (blur)="ayuda ? p7.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">°C</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!temperatura.valid && temperatura.touched"
              >
                Campo requerido
              </small>

              <ng-template #popTemperaturaContent
                  >Digite la temperatura del paciente.</ng-template
                  >
                  <ng-template #popTemperaturaTitulo>
                    <b>Temperatura</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Frecuencia Cardiáca:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Frecuencia cardiáca"
                  name="freCardia"
                  #freCardia="ngModel"
                  [(ngModel)]="consulta.freCardia"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': !freCardia.valid && freCardia.touched
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popFrecuenciaContent"
                  [popoverTitle]="popFrecuenciaTitulo"
                  triggers="manual"
                  #p8="ngbPopover"
                  (click)="ayuda ? p8.open() : ''"
                  (focus)="ayuda ? p8.open() : ''"
                  (blur)="ayuda ? p8.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">PPM</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!freCardia.valid && freCardia.touched"
              >
                Campo requerido
              </small>

              <ng-template #popFrecuenciaContent
                  >Digite la frecuencia cardiáca del paciente.</ng-template
                  >
                  <ng-template #popFrecuenciaTitulo>
                    <b>Frecuencia Cardiáca</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Frecuencia Respiratoria:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Frecuencia Respiratoria"
                  name="freResp"
                  #freResp="ngModel"
                  [(ngModel)]="consulta.freRespiratoria"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': !freResp.valid && freResp.touched
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popFrecuenciaResContent"
                  [popoverTitle]="popFrecuenciaResTitulo"
                  triggers="manual"
                  #p9="ngbPopover"
                  (click)="ayuda ? p9.open() : ''"
                  (focus)="ayuda ? p9.open() : ''"
                  (blur)="ayuda ? p9.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">FR</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!freResp.valid && freResp.touched"
              >
                Campo requerido
              </small>

              <ng-template #popFrecuenciaResContent
                  >Digite la frecuencia respiratoria del paciente.</ng-template
                  >
                  <ng-template #popFrecuenciaResTitulo>
                    <b>Frecuencia Respiratoria</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>
          
        </div>
        <div class="row">
          <!--Div de signos vitales-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Peso:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Peso"
                  name="peso"
                  (ngModelChange)="calcularIMC($event, 'peso')"
                  #peso="ngModel"
                  [ngModel]="consulta.peso"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': !peso.valid && peso.touched
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popPesoContent"
                  [popoverTitle]="popPesoTitulo"
                  triggers="manual"
                  #p10="ngbPopover"
                  (click)="ayuda ? p10.open() : ''"
                  (focus)="ayuda ? p10.open() : ''"
                  (blur)="ayuda ? p10.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">kg</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!peso.valid && peso.touched"
              >
                Campo requerido
              </small>

              <ng-template #popPesoContent
              >Digite el peso del paciente en libras.</ng-template
              >
              <ng-template #popPesoTitulo>
                <b>Peso</b>
                <p class="float-right">
                  <i class="fas fa-info-circle fa-lg"></i>
                </p>
              </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Talla:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Talla"
                  (ngModelChange)="calcularIMC($event, 'talla')"
                  name="talla" 
                  #talla="ngModel"
                  [ngModel]="consulta.talla"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': !talla.valid && talla.touched
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popTallaContent"
                  [popoverTitle]="popTallaTitulo"
                  triggers="manual"
                  #p11="ngbPopover"
                  (click)="ayuda ? p11.open() : ''"
                  (focus)="ayuda ? p11.open() : ''"
                  (blur)="ayuda ? p11.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">mt</span>
                </div>
                <ng-template #popTallaContent
                >Digite la estatura del paciente en metros.</ng-template
                >
                <ng-template #popTallaTitulo>
                  <b>Talla</b>
                  <p class="float-right">
                    <i class="fas fa-info-circle fa-lg"></i>
                  </p>
                </ng-template>
              </div>
              <small
                class="text-danger"
                *ngIf="!talla.valid && talla.touched"
              >
                Campo requerido
              </small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Índice de Masa Corporal:</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Índice de masa corporal"
                  name="indiceMC"
                  #indiceMC="ngModel"
                  [(ngModel)]="consulta.indiceMC"
                  autocomplete="off"
                  ngxPattern="[0-9.]+"
                  disabled
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">IMC</span>
                </div>
              </div>
    
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Presión Sistólica:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Presión Sistólica"
                  name="presionSis"
                  #presionSis="ngModel"
                  [ngModel]="consulta.presionSistolica"
                  (ngModelChange)="calcularPresion($event, 'Sistolica')"
                  required
                  autocomplete="off"
                  ngxPattern="^\d+\.?\d{0,2}$" 
                  [ngClass]="{
                    'is-invalid': !presionSis.valid && presionSis.touched
                  }"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popPresionSisContent"
                  [popoverTitle]="popPresionSisTitulo"
                  triggers="manual"
                  #p12="ngbPopover"
                  (click)="ayuda ? p12.open() : ''"
                  (focus)="ayuda ? p12.open() : ''"
                  (blur)="ayuda ? p12.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">PS</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!presionSis.valid && presionSis.touched"
              >
                Campo requerido
              </small>
  
              <ng-template #popPresionSisContent
                  >Digite la presión sistólica del paciente.</ng-template
                  >
                  <ng-template #popPresionSisTitulo>
                    <b>Presión Sistólica</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Presión Diastólica:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Presión Diastólica"
                  name="presionDias"
                  #presionDias="ngModel"
                  [ngModel]="consulta.presionDiastolica"
                  (ngModelChange)="calcularPresion($event, 'Diastolica')"
                  required
                  autocomplete="off"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  [ngClass]="{
                    'is-invalid': !presionDias.valid && presionDias.touched
                  }"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popPresionDiasContent"
                  [popoverTitle]="popPresionDiasTitulo"
                  triggers="manual"
                  #p13="ngbPopover"
                  (click)="ayuda ? p13.open() : ''"
                  (focus)="ayuda ? p13.open() : ''"
                  (blur)="ayuda ? p13.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">PD</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!presionDias.valid && presionDias.touched"
              >
                Campo requerido
              </small>
              <ng-template #popPresionDiasContent
                  >Digite la presión diastólica del paciente.</ng-template
                  >
                  <ng-template #popPresionDiasTitulo>
                    <b>Presión diastólica</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div> 
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Presión Arterial:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Presión arterial"
                  name="presionArt"
                  #presionArt="ngModel"
                  [ngModel]="consulta.presionArt"
                  required
                  autocomplete="off"
                  disabled/>
                <div class="input-group-prepend">
                  <span class="input-group-text">mm Hg</span>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="row" *ngIf="edad == 0">
          <div class="col-md-4">
            <div class="form-group">
              <label>Perímetro Cefálico:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Perímetro Cefálico"
                  name="periCefalico"
                  required
                  #periCefalico="ngModel"
                  [(ngModel)]="consulta.perimetroCefalico"
                  autocomplete="off"
                  ngxPattern="^\d+\.?\d{0,2}$" 
                  [ngClass]="{
                    'is-invalid': !periCefalico.valid && periCefalico.touched
                  }"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popPerimetroCefalicoContent"
                  [popoverTitle]="popPerimetroCefalicoTitulo"
                  triggers="manual"
                  #p14="ngbPopover"
                  (click)="ayuda ? p14.open() : ''"
                  (focus)="ayuda ? p14.open() : ''"
                  (blur)="ayuda ? p14.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">PC</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!periCefalico.valid && periCefalico.touched"
              >
                Campo requerido
              </small>
  
              <ng-template #popPerimetroCefalicoContent
                  >Digite el perímetro cefálico del ó la bebé.</ng-template
                  >
                  <ng-template #popPerimetroCefalicoTitulo>
                    <b>Perímetro Cefálico</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Circunferencia Abdominal:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Circunferencia Abdominal"
                  name="cirAbdominal"
                  required
                  #cirAbdominal="ngModel"
                  [(ngModel)]="consulta.circunferenciaAbdominal"
                  autocomplete="off"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  [ngClass]="{
                    'is-invalid': !cirAbdominal.valid && cirAbdominal.touched
                  }"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popCircunContent"
                  [popoverTitle]="popCircunTitulo"
                  triggers="manual"
                  #p15="ngbPopover"
                  (click)="ayuda ? p15.open() : ''"
                  (focus)="ayuda ? p15.open() : ''"
                  (blur)="ayuda ? p15.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">CA</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!cirAbdominal.valid && cirAbdominal.touched"
              >
                Campo requerido
              </small>
              <ng-template #popCircunContent
                  >Digite la circunferencia abdominal del ó la bebé.</ng-template
                  >
                  <ng-template #popCircunTitulo>
                    <b>Circunferencia Abdominal</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div> 
          </div>
        </div>
        <!-- Fin del div signos vitales -->
      </fieldset> <!-- Fin del Fieldset de los signos vitales -->
      <br>
      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label>Alergias (*):</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Alergias"
              autocomplete="off"
              name="alergias"
              #alergias="ngModel"
              [(ngModel)]="consulta.alergias"
              ngxPattern="^[a-zA-Z\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              [ngClass]="{
                'is-invalid': !alergias.valid && alergias.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popAlergiaContent"
              [popoverTitle]="popAlergiaTitulo"
              triggers="manual"
              #p16="ngbPopover"
              (click)="ayuda ? p16.open() : ''"
              (focus)="ayuda ? p16.open() : ''"
              (blur)="ayuda ? p16.close() : ''"
            >
            </textarea>
            <small
              class="text-danger"
              *ngIf="!alergias.valid && alergias.touched"
            >
              Campo requerido
            </small>
            <ng-template #popAlergiaContent>
              Puede digitar de manera opcional una descripción
              si el paciente presenta algún tipo de alergia/s.
            </ng-template>
            <ng-template #popAlergiaTitulo>
                <b>Alergias (*)</b>
                <p class="float-right">
                  <i class="fas fa-info-circle fa-lg"></i>
                </p>
            </ng-template>
          </div>
        </div>
      </div><!-- Fin del sexto -->

      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label>Examen físico:</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Examen físico"
              autocomplete="off"
              required
              name="exFisico"
              #exFisico="ngModel"
              [(ngModel)]="consulta.examenFisico"
              ngxPattern="^[a-zA-Z\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              [ngClass]="{
                'is-invalid': !exFisico.valid && exFisico.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popExaFisicoContent"
              [popoverTitle]="popExaFisicoTitulo"
              triggers="manual"
              #p17="ngbPopover"
              (click)="ayuda ? p17.open() : ''"
              (focus)="ayuda ? p17.open() : ''"
              (blur)="ayuda ? p17.close() : ''"
            >
            </textarea>
            <small
              class="text-danger"
              *ngIf="!exFisico.valid && exFisico.touched"
            >
              Campo requerido
            </small>
            <ng-template #popExaFisicoContent>
              Digite una descripción del examen físico realizado al paciente.
            </ng-template>
            <ng-template #popExaFisicoTitulo>
              <b>Examen físico</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div>
        </div>

      </div>

      <fieldset class="border p-2" *ngIf="genero === 'F'">
        <legend class="w-auto">Cítologia</legend>
        
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Fecha de realización (*):</label>
              <div class="input-group date">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-calendar"></i>
                  </div>
                </div>
                <input
                  type="date"
                  class="form-control"
                  max=""
                  name="fechaCit"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popFechaCitoContent"
                  [popoverTitle]="popFechaCitoTitulo"
                  triggers="manual"
                  #p18="ngbPopover"
                  (click)="ayuda ? p18.open() : ''"
                  (focus)="ayuda ? p18.open() : ''"
                  (blur)="ayuda ? p18.close() : ''"
                    />
              </div>
             
              <ng-template #popFechaCitoContent>
                Puede digitar de manera opcional la fecha de realización
                de la citología ó tambien puede desplegar el calendario con el icono: 
                <p><i class="far fa-calendar fa-lg"></i></p>
              </ng-template>

              <ng-template #popFechaCitoTitulo>
                <b>Fecha de realización (*)</b>
                <p class="float-right">
                  <i class="fas fa-info-circle fa-lg"></i>
                </p>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- textarea -->
            <div class="form-group">
              <label>Observación (*):</label>
              <textarea
                class="form-control"
                rows="3"
                placeholder='Observación del estudio...'
                autocomplete="off"
                name="obCitologia"
                ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                placement="top"
                popoverClass="text-dark"
                [autoClose]="true"
                [ngbPopover]="popObservacionCitoContent"
                [popoverTitle]="popObservacionCitoTitulo"
                triggers="manual"
                #p19="ngbPopover"
                (click)="ayuda ? p19.open() : ''"
                (focus)="ayuda ? p19.open() : ''"
                (blur)="ayuda ? p19.close() : ''"
                ></textarea>
              <ng-template #popObservacionCitoContent>
                Puede digitar de manera opcional una descripción de
                la observación en la citología.
              </ng-template>
              <ng-template #popObservacionCitoTitulo>
                <b>Observación(*)</b>
                <p class="float-right">
                  <i class="fas fa-info-circle fa-lg"></i>
                </p>
              </ng-template>
            </div>
          </div>
        </div>
        <!-- Fin del div de citologia -->
      </fieldset> <!-- Fieldset de los signos vitales -->
      <br *ngIf="genero === 'F'">
      <div class="row">

        <div class="col-md-12">
          <label for="motivo">Busqueda de diagnóstico:</label>
          <ngx-select [multiple]="true"
                      [items]="diagnosticos"
                      name="diag"
                      #diag="ngModel"
                      [(ngModel)]="diagSeleccionados"
                      [autoClearSearch]="false"
                      placeholder="Realice una busqueda y seleccione el diagnóstico"
                      noResultsFound = "No hay más opciones"
                      (typed)="buscarDiagnostico($event)"
                      required
                      [ngClass]="{
                        'is-invalid': !diag.valid && diag.touched
                      }"
                      placement="top"
                      popoverClass="text-dark"
                      [autoClose]="true"
                      [ngbPopover]="popDiagContent"
                      [popoverTitle]="popDiagTitulo"
                      triggers="manual"
                      #p20="ngbPopover"
                      (click)="ayuda ? p20.open() : ''"
                      (focus)="ayuda ? p20.open() : ''"
                      (blur)="ayuda ? p20.close() : ''">
              </ngx-select>
          <small
              class="text-danger"
              *ngIf="!diag.valid && diag.touched"
            >
              Campo requerido
          </small>
          <ng-template #popDiagContent>
            Digite un diagnóstico en base a CIE10 para realizar una busqueda.
            Se pueden seleccionar uno ó más diagnosticos de la lista de resultados.
          </ng-template>
          <ng-template #popDiagTitulo>
            <b>Busqueda de diagnóstico</b>
            <p class="float-right">
              <i class="fas fa-info-circle fa-lg"></i>
            </p>
          </ng-template>
        </div>
        

      </div><!--Fin del octavo row-->

      <br>

      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Cuadro General de Diagnóstico/s</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Diagnóstico</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="diagSeleccionados.length == 0">
                    <td></td>
                    <td class="text-center"><p>No se han seleccionado diagnósticos</p></td>
                  </tr>
                  <tr *ngFor="let diag of diagSeleccionados; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td>{{ diag }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label>Detalles de Diagnóstico (*):</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Detalles de Diagnóstico..."
              autocomplete="off"
              name="diagnosticoDetail"
              #diagnosticoDetail="ngModel"
              [(ngModel)]="consulta.diagnostico.diagDetalles"
              ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popDiagDetalleContent"
              [popoverTitle]="popDiagDetalleTitulo"
              triggers="manual"
              #p21="ngbPopover"
              (click)="ayuda ? p21.open() : ''"
              (focus)="ayuda ? p21.open() : ''"
              (blur)="ayuda ? p21.close() : ''"
              >
            </textarea>
            <ng-template #popDiagDetalleContent>
              Puede digitar de manera opcional detalles referentes al diagnóstico.
            </ng-template>
            <ng-template #popDiagDetalleTitulo>
              <b>Detalles de diagnóstico(*)</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div>
        </div>
      </div><!-- Fin del noveno row -->

    </form>
</div><!--Fin del card-body -->

<div class="card-footer">
    <button class="btn btn-info float-left"
            (click)="confirmarDatosConsulta()"
            [disabled]="consultaForm.invalid">
            <i class="fas fa-check"></i> Adjuntar
    </button>
    <input
      type="button"
      class="btn btn-secondary ml-3 mr-0"
      value="Limpiar campos"
    />
    <div class="float-right d-none d-sm-block">
      <b>Campos opcionales (*)</b>
    </div>
</div><!--Fin del card-footer-->

         <!-- Sweet alerts -->
              <!-- Sweet Confirm -->
              <swal
                #confirmarSwal
                title="¿Adjuntar los datos de consulta?"
                text="¿Desea proceder con el registro de estos datos?"
                icon="question"
                [showCancelButton]="true"
                confirmButtonText= "Si!"
                cancelButtonText= "No!"
                confirmButtonColor= "#3085d6"
                cancelButtonColor= "#bbbbbb"
                [focusCancel]="true"
                (confirm)="onSubmit(consultaForm)">
              </swal>

              <!-- Sweet error -->
              <!-- Sweet success -->
              <swal
                #successSwal
                title="Se ha registrado con exito!"
                icon="success"
                [showCancelButton]="false">
              </swal>
              <!-- Sweet success -->
              <swal
                #errorSwal
                title="Error!"
                text="No se pudo realizar el registro"
                icon="error"
                confirmButtonText= "Ok"
                confirmButtonColor= "#3085d6"
                [focusConfirm]="true">
              </swal>
              <swal
                #errorNoValidSwal
                title="Error!"
                text="El formulario es inválido"
                icon="error"
                confirmButtonText= "Ok"
                confirmButtonColor= "#3085d6"
                [focusConfirm]="true">
              </swal>

              <!-- Sweet alerts -->
