<div class="card-body">

    <form
    role="form"
    #consultaForm="ngForm"
    >

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-3">
            <div class="form-group">
              <label>Fecha de consulta:</label>
              <div class="input-group date">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
                <input
                  type="date"
                  class="form-control"
                  max="{{ fechaAux }}"
                  value="{{ consulta.fechaConsul | fechaFormat }}"
                  name="fechaConsul"
                  #fechaConsul="ngModel"
                  [(ngModel)]="consulta.fechaConsul"
                  disabled
                />
              </div>
            </div>

          </div>
        </div>

      </div><!-- Fin del primer row -->
      <br>

      <div class="row">
        <div class="col-md-12">
          
          <div class="row">
            <div class="col-md-2">
              <div class="form-group clearfix">
                <div class="icheck-info d-inline">
                  <input
                    type="radio"
                    value="A"
                    id="radioPrimary1"
                    name="r1"
                    [checked]="motivoCon"
                    (change)="motivoChange($event)"
                  />
                  <label for="radioPrimary1">
                    Escribe un motivo
                  </label>
                </div>
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="icheck-info d-inline">
                <input
                  type="radio"
                  value="B"
                  id="radioPrimary2"
                  name="r1"
                  (change)="motivoChange($event)"
                />
                <label for="radioPrimary2">
                  Motivos comunes
                </label>
              </div>
            </div>
          </div>

        </div>
      </div><!--Fin del segundo row-->

      <div class="row">

        <div class="col-md-4" *ngIf="motivoCon">
          <label for="motivo">Motivo:</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control capitalize"
              name="motivo"
              placeholder="Motivo de consulta"
              #motivo="ngModel"
              [(ngModel)]="consulta.motivo"
              ngxPattern="^[a-zA-Z\s\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              autocomplete="off"
              required
              [ngClass]="{
                'is-invalid': !motivo.valid && motivo.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popMotivoContent"
              [popoverTitle]="popMotivoTitulo"
              triggers="manual"
              #p1="ngbPopover"
              (click)="ayuda ? p1.open() : ''"
              (focus)="ayuda ? p1.open() : ''"
              (blur)="ayuda ? p1.close() : ''"
            />
            <div class="input-group-append">
              <button type="button" class="btn btn-info"><i class="fas fa-plus"></i></button>
            </div>
          
            <ng-template #popMotivoContent
              >Digite el motivo por el cual pasa consulta el paciente</ng-template
            >
            <ng-template #popMotivoTitulo>
              <b>Motivo de la consulta</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div><!--Fin del input-group -->
          <small
              class="text-danger"
              *ngIf="!motivo.valid && motivo.touched"
            >
              Campo requerido
            </small>
        </div>

        <div class="col-md-4" *ngIf="!motivoCon">
          <label for="motivo">Motivo:</label>
          <div class="input-group">
              <select
              name="comunes"
              class="form-control"
              #motivoSelect>
              <option value='Fiebre' [selected]="'true'">Fiebre</option>
              <option value='Mareos'>Mareos</option>
              <option value='Estreñimiento'>Estreñimiento</option>
              </select>
              
          </div>
          
        </div>
        
        <div class="col-md-2">
          <div class="form-group">
              <label for="cantidad">Sintomas desde hace:</label>
                  
              <input type="number" 
                     class="form-control"
                     name="duracion"
                     min="1"
                     max="30"
                     value="7"
                     step="1"
                     required
                     #duracion="ngModel"
                     [(ngModel)]="consulta.tiemSintomas.tiempo"
                     ngxPattern="^[1-9]+[0-9]*$"
                     [ngClass]="{
                      'is-invalid': !duracion.valid && duracion.touched
                      }">
                     <small
                            class="text-danger"
                            *ngIf="!duracion.valid && duracion.touched"
                          >
                            Campo requerido
                     </small>  
          </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="lapso"><i class="fas fa-alarm-clock"></i></label>
                <div class="input-group mb-3">
                    <select
                    name="lapso"
                    class="form-control"
                    #lapso="ngModel"
                    [(ngModel)]="consulta.tiemSintomas.lapso"
                    >
                    <option value='Hora/s' selected>Hora/s</option>
                    <option value='Dia/s'>Dia/s</option>
                    <option value='Mes/es'>Mes/es</option>
                    <option value='Año/s'>Año/s</option>
                    </select>
                    
                </div>
            </div>
        </div>

      </div><!--Fin del tercer row-->
      
      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Historia de la enfermedad:</label>
            <textarea
              id="historia"
              rows="3"
              class="form-control"
              placeholder="Historia de la enfermedad"
              autocomplete="off"
              name="historia"
              #historia="ngModel"
              [(ngModel)]="consulta.historia"
              ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              required
              [ngClass]="{
                'is-invalid': !historia.valid && historia.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popHistoriaContent"
              [popoverTitle]="popHistoriaTitulo"
              triggers="manual"
              #p3="ngbPopover"
              (click)="ayuda ? p3.open() : ''"
              (focus)="ayuda ? p3.open() : ''"
              (blur)="ayuda ? p3.close() : ''"
            >
            </textarea>
            <small
              class="text-danger"
              *ngIf="!historia.valid && historia.touched"
            >
              Campo requerido
            </small>
            <ng-template #popHistoriaContent
              >Digite la historia sobre como se dió la enfermedad del paciente</ng-template
            >
            <ng-template #popHistoriaTitulo>
              <b>Historia de la enfermedad</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- Fin del cuarto row -->

      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label
              >Antecedentes patológicos personales ó de enfermedades
              crónicas:</label
            >
            <textarea
              class="form-control"
              rows="3"
              placeholder="Antecedentes patológicos ..."
              autocomplete="off"
              name="antePatol"
              #antePatol="ngModel"
              [(ngModel)]="consulta.antePatol"
              ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              required
              [ngClass]="{
                'is-invalid': !antePatol.valid && antePatol.touched
              }"
              placement="top"
              popoverClass="text-dark"
              [autoClose]="true"
              [ngbPopover]="popAntecedentesContent"
              [popoverTitle]="popAntecedentesTitulo"
              triggers="manual"
              #p4="ngbPopover"
              (click)="ayuda ? p4.open() : ''"
              (focus)="ayuda ? p4.open() : ''"
              (blur)="ayuda ? p4.close() : ''"
            >
            </textarea>
            <small
              class="text-danger"
              *ngIf="!antePatol.valid && antePatol.touched"
            >
              Campo requerido
            </small>
            <ng-template #popAntecedentesContent
              >Digite las enfermedades que el paciente ha padecido</ng-template
            >
            <ng-template #popAntecedentesTitulo>
              <b>Antecedentes patológicos personales o de enfermedades
                crónicas</b>
              <p class="float-right">
                <i class="fas fa-info-circle fa-lg"></i>
              </p>
            </ng-template>
          </div>
        </div>
      </div>
      <!-- Fin del quinto row -->
      <fieldset class="border p-2">
        <legend class="w-auto">Signos vitales</legend>
        <!--
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default float-right">
                <i class="fas fa-cog"></i>
            </button>
          </div>
        </div>
        -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Temperatura:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Temperatura"
                  name="temperatura"
                  #temperatura="ngModel"
                  [(ngModel)]="consulta.temperatura"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid':
                      (!temperatura.valid && temperatura.touched) || ((consulta.temperatura < 28 || consulta.temperatura >= 40) && consulta.temperatura != '')  
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popTemperaturaContent"
                  [popoverTitle]="popTemperaturaTitulo"
                  triggers="manual"
                  #p7="ngbPopover"
                  (click)="ayuda ? p7.open() : ''"
                  (focus)="ayuda ? p7.open() : ''"
                  (blur)="ayuda ? p7.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">°C</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!temperatura.valid && temperatura.touched"
              >
                Campo requerido
              </small>
              <small
                class="text-danger"
                *ngIf="(consulta.temperatura < 28 || consulta.temperatura >= 40) && consulta.temperatura != ''"
              >
                Valor incorrecto. Fuera del rango aceptado
              </small>
              <small
                class="text-dark"
                *ngIf="consulta.temperatura >= 28 && consulta.temperatura <= 36.5"
              >
                <b> 
                  Baja temperatura. Rango [28° - 36.5°] C
                </b>
              </small>
              <small
                class="text-primary"
                *ngIf="consulta.temperatura >= 37 && consulta.temperatura <= 37.9"
              >
                <b>
                  Temperatura normal. Rango [37° - 37.9°] C
                </b>
              </small>
              <small
                class="text-dark"
                *ngIf="consulta.temperatura >= 38 && consulta.temperatura <= 40"
              >
                <b>
                  Alta temperatura. Rango [38° - 40°] C
                </b>
              </small>

              <ng-template #popTemperaturaContent
                  >Digite la temperatura del paciente. Ej: 35</ng-template
                  >
                  <ng-template #popTemperaturaTitulo>
                    <b>Temperatura</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Frecuencia Cardiáca:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Frecuencia cardiáca"
                  name="freCardia"
                  #freCardia="ngModel"
                  [(ngModel)]="consulta.freCardia"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': !freCardia.valid && freCardia.touched
                  }"
                  ngxPattern="[0-9]+"

                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popFrecuenciaContent"
                  [popoverTitle]="popFrecuenciaTitulo"
                  triggers="manual"
                  #p9="ngbPopover"
                  (click)="ayuda ? p9.open() : ''"
                  (focus)="ayuda ? p9.open() : ''"
                  (blur)="ayuda ? p9.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">PPM</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!freCardia.valid && freCardia.touched"
              >
                Campo requerido
              </small>

              <ng-template #popFrecuenciaContent
                  >Digite la frecuencia cardiáca del paciente.</ng-template
                  >
                  <ng-template #popFrecuenciaTitulo>
                    <b>Presión arterial</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Frecuencia Respiratoria:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Frecuencia Respiratoria"
                  name="freResp"
                  #freResp="ngModel"
                  [(ngModel)]="consulta.freRespiratoria"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': !freResp.valid && freResp.touched
                  }"
                  ngxPattern="[0-9]+"

                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popFrecuenciaContent"
                  [popoverTitle]="popFrecuenciaTitulo"
                  triggers="manual"
                  #p9="ngbPopover"
                  (click)="ayuda ? p9.open() : ''"
                  (focus)="ayuda ? p9.open() : ''"
                  (blur)="ayuda ? p9.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">FR</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!freResp.valid && freResp.touched"
              >
                Campo requerido
              </small>

              <ng-template #popFrecuenciaContent
                  >Digite la frecuencia cardiáca del paciente.</ng-template
                  >
                  <ng-template #popFrecuenciaTitulo>
                    <b>Presión arterial</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>
          
        </div>
        <div class="row">
          <!--Div de signos vitales-->
          <div class="col-md-4">
            <div class="form-group">
              <label>Peso:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Peso..."
                  name="peso"
                  (ngModelChange)="calcularIMC($event, 'peso')"
                  #peso="ngModel"
                  [ngModel]="consulta.peso"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': (!peso.valid && peso.touched) || ((consulta.peso < 2.76 || consulta.peso > 200) && consulta.peso != '')
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  placement="top"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popPesoContent"
                  [popoverTitle]="popPesoTitulo"
                  triggers="manual"
                  #p5="ngbPopover"
                  (click)="ayuda ? p5.open() : ''"
                  (focus)="ayuda ? p5.open() : ''"
                  (blur)="ayuda ? p5.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">kg</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!peso.valid && peso.touched"
              >
                Campo requerido
              </small>
              <small
                class="text-danger"
                *ngIf="(consulta.peso < 2.76 || consulta.peso > 200) && consulta.peso != ''"
              >
                Valor incorrecto. Fuera del rango aceptado
              </small>
              <ng-template #popPesoContent
              >Digite el peso del paciente en Kilogramos</ng-template
              >
              <ng-template #popPesoTitulo>
                <b>Peso</b>
                <p class="float-right">
                  <i class="fas fa-info-circle fa-lg"></i>
                </p>
              </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Talla:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Talla"
                  (ngModelChange)="calcularIMC($event, 'talla')"
                  name="talla" 
                  #talla="ngModel"
                  [ngModel]="consulta.talla"
                  required
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': (!talla.valid && talla.touched) || ((consulta.talla < 1.40 || consulta.talla > 2) && consulta.talla !='')
                  }"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popTallaContent"
                  [popoverTitle]="popTallaTitulo"
                  triggers="manual"
                  #p6="ngbPopover"
                  (click)="ayuda ? p6.open() : ''"
                  (focus)="ayuda ? p6.open() : ''"
                  (blur)="ayuda ? p6.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">mt</span>
                </div>
                <ng-template #popTallaContent
                >Digite la estatura del paciente</ng-template
                >
                <ng-template #popTallaTitulo>
                  <b>Talla</b>
                  <p class="float-right">
                    <i class="fas fa-info-circle fa-lg"></i>
                  </p>
                </ng-template>
              </div>
              <small
                class="text-danger"
                *ngIf="!talla.valid && talla.touched"
              >
                Campo requerido
              </small>
              <small
                class="text-danger"
                *ngIf="(consulta.talla < 1.40 || consulta.talla > 2) && consulta.talla !=''"
              >
                Valor incorrecto. Fuera del rango aceptado
              </small>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Índice de Masa Corporal:</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Índice de masa corporal"
                  name="indiceMC"
                  #indiceMC="ngModel"
                  [(ngModel)]="consulta.indiceMC"
                  autocomplete="off"
                  ngxPattern="[0-9.]+"
                  disabled
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">IMC</span>
                </div>
              </div>
              <small
                class="text-primary"
                *ngIf="consulta.indiceMC != '' && consulta.indiceMC >= 18.5 && consulta.indiceMC <= 24.9">
                <b>
                  IMC Normal
                </b>
              </small>
              <small
                class="text-dark"
                *ngIf="consulta.indiceMC != '' && consulta.indiceMC < 18.5">
                <b>
                  Bajo peso
                </b>
              </small>
              <small
                class="text-dark"
                *ngIf="consulta.indiceMC != '' && consulta.indiceMC >= 25.0 && consulta.indiceMC <= 29.9">
                <b>
                  Sobrepeso
                </b>
              </small>
              <small
                class="text-dark"
                *ngIf="consulta.indiceMC != '' && consulta.indiceMC >= 30.0">
                <b>
                  Obesidad
                </b>
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Presión Sistólica:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Presión Sistólica"
                  name="presionSis"
                  #presionSis="ngModel"
                  [ngModel]="consulta.presionSistolica"
                  (ngModelChange)="calcularPresion($event, 'Sistolica')"
                  required
                  autocomplete="off"
                  ngxPattern="^\d+\.?\d{0,2}$" 
                  [ngClass]="{
                    'is-invalid': (!presionSis.valid && presionSis.touched) || 
                    ((consulta.presionSistolica <= 90 || consulta.presionSistolica >=180) && consulta.presionSistolica !='')
                  }"

                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popPresionContent"
                  [popoverTitle]="popPresionTitulo"
                  triggers="manual"
                  #p8="ngbPopover"
                  (click)="ayuda ? p8.open() : ''"
                  (focus)="ayuda ? p8.open() : ''"
                  (blur)="ayuda ? p8.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">PS</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!presionSis.valid && presionSis.touched"
              >
                Campo requerido
              </small>
              <small
                class="text-danger"
                *ngIf="(consulta.presionSistolica <= 90 || consulta.presionSistolica >=180) && 
                        consulta.presionSistolica !='' "
              >
                Valor incorrecto. Fuera del rango [90 - 180]
              </small>
              <ng-template #popPresionContent
                  >Digite la presión arterial del paciente. Ej: 120/80</ng-template
                  >
                  <ng-template #popPresionTitulo>
                    <b>Presión arterial</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Presión Diastólica:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Presión Diastólica"
                  name="presionDias"
                  #presionDias="ngModel"
                  [ngModel]="consulta.presionDiastolica"
                  (ngModelChange)="calcularPresion($event, 'Diastolica')"
                  required
                  autocomplete="off"
                  ngxPattern="^\d+\.?\d{0,2}$"
                  [ngClass]="{
                    'is-invalid': (!presionDias.valid && presionDias.touched) ||
                    ((consulta.presionDiastolica <= 60 || consulta.presionDiastolica >=120) && 
                    consulta.presionDiastolica !='')
                  }"

                  popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popPresionContent"
                  [popoverTitle]="popPresionTitulo"
                  triggers="manual"
                  #p8="ngbPopover"
                  (click)="ayuda ? p8.open() : ''"
                  (focus)="ayuda ? p8.open() : ''"
                  (blur)="ayuda ? p8.close() : ''"
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">PD</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!presionDias.valid && presionDias.touched"
              >
                Campo requerido
              </small>
              <small
                class="text-danger"
                *ngIf="(consulta.presionDiastolica <= 60 || consulta.presionDiastolica >=120) && 
                        consulta.presionDiastolica !='' "
              >
                Valor incorrecto. Fuera del rango [60 - 120]
              </small>
              <ng-template #popPresionContent
                  >Digite la presión arterial del paciente. Ej: 120/80</ng-template
                  >
                  <ng-template #popPresionTitulo>
                    <b>Presión arterial</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
            </div> 
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Presión Arterial:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Presión arterial"
                  name="presionArt"
                  #presionArt="ngModel"
                  [ngModel]="consulta.presionArt"
                  required
                  autocomplete="off"
                  disabled
                  
                />
                <div class="input-group-prepend">
                  <span class="input-group-text">mm Hg</span>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="!presionArt.valid && presionArt.touched"
              >
                Campo requerido
              </small>
              <small
                class="text-dark"
                *ngIf="pArterial != '' && pArterial === 'baja'"
              >
                <b>Presión baja</b>
              </small>
              <small
                class="text-primary"
                *ngIf="pArterial != '' && pArterial === 'normal'"
              >
                <b>Presión normal</b>
              </small>
              <small
                class="text-dark"
                *ngIf="pArterial != '' && pArterial === 'alta'"
              >
                <b>Presión alta</b>
              </small>
            </div>
          </div>
        </div>
        <!-- Fin del div signos vitales -->
      </fieldset> <!-- Fieldset de los signos vitales -->
      <br>
      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label>Alergias (*):</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Alergias"
              autocomplete="off"
              name="alergias"
              #alergias="ngModel"
              [(ngModel)]="consulta.alergias"
              ngxPattern="^[a-zA-Z\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              [ngClass]="{
                'is-invalid': !alergias.valid && alergias.touched
              }"

              popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popAlergiaContent"
                  [popoverTitle]="popAlergiaTitulo"
                  triggers="manual"
                  #p10="ngbPopover"
                  (click)="ayuda ? p10.open() : ''"
                  (focus)="ayuda ? p10.open() : ''"
                  (blur)="ayuda ? p10.close() : ''"
            >
            </textarea>
            <small
              class="text-danger"
              *ngIf="!alergias.valid && alergias.touched"
            >
              Campo requerido
            </small>
            <ng-template #popAlergiaContent
                  >Digite todas las alergias que padece el paciente.</ng-template
                  >
                  <ng-template #popAlergiaTitulo>
                    <b>Alergias</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
          </div>
        </div>
      </div><!-- Fin del sexto -->

      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label>Examen físico (*):</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Examen físico..."
              autocomplete="off"
              name="exFisico"
              #exFisico="ngModel"
              [(ngModel)]="consulta.examenFisico"
              ngxPattern="^[a-zA-Z\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
              [ngClass]="{
                'is-invalid': !exFisico.valid && exFisico.touched
              }"

              popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popAlergiaContent"
                  [popoverTitle]="popAlergiaTitulo"
                  triggers="manual"
                  #p10="ngbPopover"
                  (click)="ayuda ? p10.open() : ''"
                  (focus)="ayuda ? p10.open() : ''"
                  (blur)="ayuda ? p10.close() : ''"
            >
            </textarea>
            <small
              class="text-danger"
              *ngIf="!exFisico.valid && exFisico.touched"
            >
              Campo requerido
            </small>
            <ng-template #popAlergiaContent
                  >Digite todas las alergias que padece el paciente.</ng-template
                  >
                  <ng-template #popAlergiaTitulo>
                    <b>Alergias</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
          </div>
        </div>

      </div>

      <fieldset class="border p-2" *ngIf="genero === 'F'">
        <legend class="w-auto">Cítologia</legend>
        
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Fecha de realización (*):</label>
              <div class="input-group date">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-calendar"></i>
                  </div>
                </div>
                <input
                  type="date"
                  class="form-control"
                  max=""
                  name="fechaCit"
                  popoverClass="text-dark"
                  [ngbPopover]="popFechaNacContent"
                  [popoverTitle]="popFechaNacTitulo"
                  [autoClose]="true"
                  triggers="manual"
                  #p3="ngbPopover"
                  (click)="ayuda ? p3.open() : ''"
                  (focus)="ayuda ? p3.open() : ''"
                  (blur)="ayuda ? p3.close() : ''"
                />
              </div>
             
              <ng-template #popFechaNacContent>
                Digite la fecha de nacimiento del paciente <br />
                ó tambien puede desplegar el calendario con el icono:
                <p><i class="far fa-calendar fa-lg"></i></p
              ></ng-template>

              <ng-template #popFechaNacTitulo>
                <b>Fecha de nacimiento</b>
                <p class="float-right">
                  <i class="fas fa-info-circle fa-lg"></i>
                </p>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- textarea -->
            <div class="form-group">
              <label>Observación (*):</label>
              <textarea
                class="form-control"
                rows="3"
                placeholder='Observación del estudio...'
                autocomplete="off"
                name="obCitologia"
                ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
                popoverClass="text-dark"
                    [autoClose]="true"
                    [ngbPopover]="popDiagnosticoContent"
                    [popoverTitle]="popDiagnosticoTitulo"
                    triggers="manual"
                    #p11="ngbPopover"
                    (click)="ayuda ? p11.open() : ''"
                    (focus)="ayuda ? p11.open() : ''"
                    (blur)="ayuda ? p11.close() : ''"
                ></textarea>
              <ng-template #popDiagnosticoContent
                    >Escriba el diagnóstico para el paciente. Este campo es opcional</ng-template
                    >
                    <ng-template #popDiagnosticoTitulo>
                      <b>Diagnóstico</b>
                      <p class="float-right">
                        <i class="fas fa-info-circle fa-lg"></i>
                      </p>
                    </ng-template>
            </div>
          </div>
        </div>
        <!-- Fin del div de citologia -->
      </fieldset> <!-- Fieldset de los signos vitales -->
      <br *ngIf="genero === 'F'">
      <div class="row">

        <div class="col-md-12">
          <label for="motivo">Opciones de diagnóstico:</label>
          <ngx-select [multiple]="true"
                      [items]="diagnosticos"
                      name="diagnostico"
                      #diagnostico
                      [(ngModel)]="diagSeleccionados"
                      [autoClearSearch]="true"
                      placeholder="Seleccione uno ó más diagnósticos"
                      noResultsFound = "No hay más opciones">

          </ngx-select>
        
        </div>
        

      </div><!--Fin del octavo row-->

      <br>

      <div class="row">
        <div class="col-md-12">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Cuadro General de Diagnóstico/s</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Diagnóstico</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="diagSeleccionados.length == 0">
                    <td></td>
                    <td class="text-center"><p>No se han seleccionado diagnósticos</p></td>
                  </tr>
                  <tr *ngFor="let diag of diagSeleccionados; let i = index">
                    <td>{{ i + 1 }}.</td>
                    <td>{{ diag }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
          <!-- textarea -->
          <div class="form-group">
            <label>Detalles de Diagnóstico (*):</label>
            <textarea
              class="form-control"
              rows="3"
              placeholder="Detalles de Diagnóstico..."
              autocomplete="off"
              name="diagnosticoDetail"
              #diagnosticoDetail="ngModel"
              [(ngModel)]="consulta.diagnostico.diagDetalles"
              ngxPattern="^[a-zA-Z0-9\s\,\;\.\/\(\)\{\}\[\]\#\%\zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ\u00E0-\u00FC\u00d1\u00f1]+$"
            
              popoverClass="text-dark"
                  [autoClose]="true"
                  [ngbPopover]="popDiagnosticoContent"
                  [popoverTitle]="popDiagnosticoTitulo"
                  triggers="manual"
                  #p11="ngbPopover"
                  (click)="ayuda ? p11.open() : ''"
                  (focus)="ayuda ? p11.open() : ''"
                  (blur)="ayuda ? p11.close() : ''"
              >
            </textarea>
            <ng-template #popDiagnosticoContent
                  >Escriba el diagnóstico para el paciente. Este campo es opcional</ng-template
                  >
                  <ng-template #popDiagnosticoTitulo>
                    <b>Diagnóstico</b>
                    <p class="float-right">
                      <i class="fas fa-info-circle fa-lg"></i>
                    </p>
                  </ng-template>
          </div>
        </div>
      </div><!-- Fin del noveno row -->

    </form>
</div><!--Fin del card-body -->

<div class="card-footer">
    <button class="btn btn-info float-left"
            (click)="confirmarDatosConsulta()"
            [disabled]="consultaForm.invalid">
            <i class="fas fa-check"></i> Adjuntar
    </button>
    <input
      type="button"
      class="btn btn-secondary ml-3 mr-0"
      value="Limpiar campos"
    />
    <div class="float-right d-none d-sm-block">
      <b>Campos opcionales (*)</b>
    </div>
</div><!--Fin del card-footer-->

         <!-- Sweet alerts -->
              <!-- Sweet Confirm -->
              <swal
                #confirmarSwal
                title="¿Adjuntar los datos de consulta?"
                text="¿Desea proceder con el registro de estos datos?"
                icon="question"
                [showCancelButton]="true"
                confirmButtonText= "Si!"
                cancelButtonText= "No!"
                confirmButtonColor= "#3085d6"
                cancelButtonColor= "#bbbbbb"
                [focusCancel]="true"
                (confirm)="onSubmit(consultaForm)">
              </swal>

              <!-- Sweet error -->
              <!-- Sweet success -->
              <swal
                #successSwal
                title="Se ha registrado con exito!"
                icon="success"
                [showCancelButton]="false">
              </swal>
              <!-- Sweet success -->
              <swal
                #errorSwal
                title="Error!"
                text="No se pudo realizar el registro"
                icon="error"
                confirmButtonText= "Ok"
                confirmButtonColor= "#3085d6"
                [focusConfirm]="true">
              </swal>
              <swal
                #errorNoValidSwal
                title="Error!"
                text="El formulario es inválido"
                icon="error"
                confirmButtonText= "Ok"
                confirmButtonColor= "#3085d6"
                [focusConfirm]="true">
              </swal>

              <!-- Sweet alerts -->
